<div>
  <div class="front-div" data-dojo-attach-point="frontDiv">
    <div class="header-div" data-dojo-attach-point="headerDiv">
      <span>${nls.title}</span>
      <img src="builder/css/images/cancel.png" alt="img" data-dojo-attach-event="onclick:_onCancelClick"></img>
    </div>

    <div class="content-part" data-dojo-attach-point="contentPart">
      <div class="tree-part" data-dojo-attach-point="treePart">
        <div class="left-part-title" style="margin-left:18px; margin-top:10px; color: #596679; font-size: 15px;">${nls.appNameTitle}${app.name}</div>
      </div>

      <div class="right-part" data-dojo-attach-point="leftPart">
        <div class="right-part-head" >
          <span data-dojo-attach-point="rightPartHeadText">${nls.rightPartHead}</span>
          <div class="review-json-div" data-dojo-attach-point="reviewJsonDiv" data-dojo-attach-event="onclick:_onReviewJsonDivClick">${nls.viewJsonCode}</div>
          <div class="review-json-back-div" style="display: none" data-dojo-attach-point="reviewJsonBackDiv" data-dojo-attach-event="onclick:_onReviewJsonBackDivClick">${nls.viewJsonBack}</div>

        </div>

        <div class="right-part-subhead">
          ${nls.rightPartSubhead}
        </div>
        <div class="category-part" data-dojo-attach-point="categoryPart"></div>
        <div class="show-json-div" data-dojo-attach-point="showJsonDiv">
          <div class="show-json-content-div" data-dojo-attach-point="showJsonContentDiv">     
          </div>
        </div>
      </div>
    </div>

    <div class="operation-div" data-dojo-attach-point="operationDiv">
      <div class="operation-item-div  download-div jimu-btn jimu-state-disabled" style="padding: 0px;" data-dojo-attach-point="downloadNode">
        <a class="download-a" href="#" target="downloadTargetFrame" data-dojo-attach-point="downloadLinkNode">${nls.download}</a>
      </div>
      <div class="operation-item-div save-div jimu-btn" data-dojo-attach-event="onclick:_onSaveClick">
        ${nls.save}
      </div>
      <div class="operation-item-div cancel-div jimu-btn" data-dojo-attach-event="onclick:_onCancelClick">
        ${nls.cancel}
      </div>
    </div>
  </div>
</div>
