<div >
  <div class="app-content" data-dojo-attach-point="appContent">
    <div class="head-section" data-dojo-attach-point="head-section">
        <div class="textPart1">${nls.welcomeMessage}</div>
        <div class="textPart2"></div>
        <div class="upload-button-div">
          <input class="upload-button" type="button" value="${nls.appUpload}">
          <form enctype="multipart/form-data" method="post" action="/builder/rest/apps/upload" data-dojo-attach-point="uploadAppFileFormNode">
            <input class="file-input" name="app" type="file" data-dojo-attach-point="appFileInputNode" data-dojo-type="dojox/form/Uploader" data-dojo-attach-event="onChange:_onAppFileChange,onError:_onAppFileUploadError,onComplete:_onAppFileUploadComplete" accept=".zip" style="width:100%;height:100%;"/></input>
            <input name="creator" type="text" value="1234" style="display:none;" data-dojo-attach-point="appFileCreatorInputNode"></input>
          </form>
        </div>
        <div class="create-button-div"><input class="create-button" type="button" value="${nls.appCreate}" data-dojo-attach-event="onclick:_onCreateClick"></div>
    </div>

    <div class="list-section" id="list-section" data-dojo-attach-point="listSection">
      <table class="list-section-head">
        <tbody>
          <tr class="head-content">
            <th class="name">${nls.appName}</th>
            <th class="desc">${nls.appDesc}</th>
            <th class="time">${nls.appTime}</th>
            <th class="modified">${nls.appModified}</th>
            <th class="creator">${nls.appCreator}</th>
          </tr>  
        </tbody>
      </table>

      <div class="list-section-body-content" id="list-section-body-content" data-dojo-attach-point="listSectionBodyContent">
        <table class="list-table" data-dojo-attach-point="listTable">
          <tbody></tbody>
        </table>
      </div>        
    </div>
  </div>
  <iframe style="display:none" name="downloadTargetFrame"></iframe>
</div>

