<div >
  <div class="left-pane" data-dojo-attach-point="leftPaneNode"></div>
  <div class="right-preview-section" data-dojo-attach-point="rightPreviewSection">
    <div class="preview-config" data-dojo-attach-point="previewConfig">
      <iframe name="previewFrame" data-dojo-attach-point="viewerNode" style="border:none"></iframe>
    </div>
    <div class="preview-more" data-dojo-attach-point="previewMore">
      <div class="preview-more-iframe-section" data-dojo-attach-point="previewMoreIframeSection">
        <div class="preview-more-iframe-container" data-dojo-attach-point="viewer2Container">
          <iframe name="previewMoreFrame" data-dojo-attach-point="viewer2Node"></iframe>
        </div>
        <div class="description" data-dojo-attach-point="previewMoreDes"></div>
      </div>    
      <div class="screen-switch-section">
       <div class="portrait selected" data-dojo-attach-point="btnPortrait"></div>
       <div class="landscape" data-dojo-attach-point="btnLandscape"></div>
      </div>
    </div>
  </div>
</div>