<div>
  <!--div class="back-div" data-dojo-attach-point="backDiv"-->
    <!--div class="front-div"-->
      <div class="app-2d-and-3d">
        <div class="app-image-div app-2d" data-dojo-attach-point="app2D" data-dojo-attach-event="click:_on2dClick"></div>
        <div class="app-image-div app-3d" data-dojo-attach-point="app3D" data-dojo-attach-event="click:_on3dClick"><!--div class="surface-div">Coming Soon</div--><img src="builder/css/images/comingsoon.png" alt="3d"/></div>
      </div>
      <div class="app-input app-name"><input type="text" placeholder="${nls.appName}" data-dojo-attach-point="appName"/></input></div>
      <div class="app-input app-description"><textarea  type="text" data-dojo-attach-point="appDescription" placeholder=${nls.appDesc}></textarea></div>
      <!--div class="app-button cancel-button" data-dojo-attach-event="onclick:_onCancelClick">${nls.cancel}</div-->
      <!--div class="app-button next-button"   data-dojo-attach-event="onclick:_onNextClick">${nls.ok}</div-->
    <!--/div-->
  <!--/div-->
</div>
