<div>
      <div id="share-map-application-publish" dojoType="dijit.layout.ContentPane" dojoAttachPoint="_stackApplicationPublish" class="share-map-stack-stack  .esriLtr .esri">

        <p style="display:none;" class="configureApp">${nls.savePublish}</p>
        <p style="display:none;" class="appBuilder">${nls.appBuilderTitle}</p>
        <p style="display:none;" class="appBuilder">${nls.appBuilderMsg}</p>

        <div class="app-2d-and-3d" data-dojo-attach-point="div2dAnd3d">
          <div class="app-image-div app-2d" data-dojo-attach-point="app2D" data-dojo-attach-event="click:_on2dClick"></div>
          <div class="app-image-div app-3d" data-dojo-attach-point="app3D" data-dojo-attach-event="click:_on3dClick"></div>
        </div>

        <div>
          <table style="width:100%" cellspacing="6">
            <tbody>
              <tr>
                <td width="10%">
                  <label for="publish-webmap-title">
                    ${nls.titleLabel}
                  </label>
                </td>
                <td width="90%">
                  <div id="publish-webmap-title" data-dojo-type="dijit/form/TextBox" trim="true" data-dojo-attach-point="appTitle" maxlength="250" required="true" style="width:95%;padding:2px;">
                  </div>
                </td>
              </tr>
              <tr data-dojo-attach-point="tagsTr">
                <td>
                  <label for="publish-webmap-tags">
                    ${nls.tagsLabel}
                  </label>
                </td>
                <td>
                  <div id="publish-webmap-tags" data-dojo-type="builder/Tags" data-dojo-props="minWidth:'435px',maxWidth:'435px'"></div>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <label for="publish-webmap-summary">
                    ${nls.summaryLabel}
                  </label>
                </td>
                <td>
                  <div id="publish-webmap-summary" data-dojo-type="dijit/form/SimpleTextarea" rows='5' trim="true" maxlength="250" required="true" style="width:95%;max-width:95%;min-width:95%;height:200px;max-height:200px;min-height:200px;padding:2px;resize:none;"></div>
                </td>
              </tr>
              <tr data-dojo-attach-point="folderTr">
                <td>
                  <label for="publish-webmap-folder">
                    ${nls.saveFolderLabel}
                  </label>
                </td>
                <td>
                  <div id="publish-webmap-folder" data-dojo-type="dijit/form/Select" style="width:96%;">
                  </div>
                </td>
              </tr>
              <tr data-dojo-attach-point="sharingTr">
                <td>&nbsp;</td>
                <td>
                  <div id="publish-webmap-sharing" data-dojo-type="dijit/form/CheckBox" checked></div>
                  <label for="publish-webmap-sharing">${nls.shareSameLevel}</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
