<div>
  <div class="home-section" data-dojo-attach-point="homeSection">
    <div class="home-label" data-dojo-attach-point="homeLabel">${nls.home}</div>
    <div class="home-menu header-menu" data-dojo-attach-point="homeMenu">
      <a nowrap target="_self" href="#" data-dojo-attach-point="homeItem">${nls.home}</a>
      <a nowrap target="_self" href="#" data-dojo-attach-point="galleryItem">${nls.gallery}</a>
      <a nowrap target="_self" href="#" data-dojo-attach-point="groupsItem">${nls.groups}</a>
      <a nowrap target="_self" href="#" data-dojo-attach-point="contentItem">${nls.content}</a>
      <a nowrap target="_self" href="#" data-dojo-attach-point="organizationItem">${nls.organization}</a>
    </div>
  </div>
  <div class="logo-title" data-dojo-attach-point="logoTitle">
    <div class="logo"></div>
    <div class="title">Web AppBuilder for ArcGIS</div>
  </div>
  <div class="app-name" data-dojo-attach-point="appName"></div>
  <div class="user-section">
    <div class="user-info">      
      <div class="user-name" data-dojo-attach-point="userNameNode"></div>
      <div class="user-icon"></div>
    </div>
    <div class="user-menu header-menu">
      <a nowrap target="_self" data-dojo-attach-point="profileItem">${nls.profile}</a>
      <a nowrap target="_self" data-dojo-attach-point="helpItem">${nls.help}</a>
      <div nowrap class="sign-out" data-dojo-attach-point="signOutItem">${nls.signOut}</div>
    </div>
  </div>
</div>