<div class="app-widgets">
  <div class="preload-widgets-list" data-dojo-attach-point="preloadWidgetsNode">
    <div class="controller-widgets-list" data-dojo-attach-point="controllerWidgetsNode"></div>
    <div class="noncontroller-preload-widgets-list" data-dojo-attach-point="noncontrollerPreloadWidgetsNode"></div>
  </div>
  <div class="pool-widgets-list" data-dojo-attach-point="poolWidgetsNode">
    <div class="widgets-link" data-dojo-attach-point="backWidgetsNode" data-dojo-attach-event="onclick: _onBackWidgetsClick"> &lt; &nbsp;
      Widgets
    </div>
    <div class="widget-pool-title" data-dojo-attach-point="poolTitleNode">${nls.setControlledWidgetsBy}<span data-dojo-attach-point="controllerLabelNode"></span></div>
    <div class="widget-pool-list" data-dojo-attach-point="poolWidgetsListNode"></div>
  </div>
</div>