<div class="attribute-config">
  <div class="section header-section" data-dojo-attach-point="headerSection">
    <p class="header-title">${nls.headerTitle}</p>
    <div class="header-desc">${nls.headerDesc}</div>
      <div data-dojo-type="jimu/dijit/ImageChooser" data-dojo-attach-point="imageChooser"></div>
      <div class="no-logo"  data-dojo-attach-point="noLogoNode">
        <img class="image" src="builder/css/images/add_header.png">
        <div class="text"> ${nls.addLogo}</div>
      </div>
      <img class="logo" data-dojo-attach-point="logoNode" style="display:none">
      <div class="titles">
        <div style="background-color:#fafafc;" class="title">
          <input  placeholder="${nls.title}" data-dojo-attach-point="titleNode" maxLength="30">
        </div>
        <div style="background-color:#fafafc;" class="subtitle">
          <input  placeholder="${nls.subtitle}" data-dojo-attach-point="subtitleNode" maxLength="30">
        </div>
      </div>
  </div>

  <div class="section links-section" data-dojo-attach-point="linksSection">
    <p class="title">${nls.linksTitle}</p>
    <div class="attribute-content">
      <div class="list-header">
        <span class="header-button add" data-dojo-attach-event="onclick: onAddLinkClick">${nls.addLink}</span>
        <span class="header-button edit" data-dojo-attach-event="onclick: onEditLinkClick">${nls.editLabel}</span>
        <span class="header-button delete" data-dojo-attach-event="onclick: onDeleteLinkClick">${nls.deleteLabel}</span>
      </div>
      <div class="links-list" data-dojo-attach-point="linksListNode">
      </div>
    </div>
  </div>

  <div class="section appId-section" data-dojo-attach-point="appIdSection" style="display:none">
    <p class="title">${nls.appIdTitle}</p>
    <a target="_blank" href="http://doc.arcgis.com/en/arcgis-online/share-maps/add-items.htm#ESRI_SECTION2_20AF85308FD548B5ADBAE28836F66D3F">${nls.appIdAbout}</a>
    <div class="attribute-content">
      <input type="text" placeholder="AppId" data-dojo-attach-point="appIdNode" />
    </div>
  </div>

  <div class="section" data-dojo-attach-point="useProxySection" style="display:none">
    <div class="proxy-setting" data-dojo-attach-point="useProxySetting"></div>
    <div class="proxy-section" data-dojo-attach-point="proxySection">
      <label class="rules-label">${nls.proxyRulesLabel}</label>
      <div class="attribute-content">
        <div class="list-header">
          <span class="header-button add" data-dojo-attach-event="onclick: onAddProxyRuleClick">${nls.addProxyRule}</span>
          <span class="header-button edit" data-dojo-attach-event="onclick: onEditProxyRuleClick">${nls.editLabel}</span>
          <span class="header-button delete" data-dojo-attach-event="onclick: onDeleteProxyRuleClick">${nls.deleteLabel}</span>
        </div>
        <div class="proxy-rule-header">
          <div class="prefix">${nls.prefixHeader}</div>
          <div class="proxy-url">${nls.proxyUrlHeader}</div>
        </div>
        <div class="proxy-rule-list" data-dojo-attach-point="proxyRulesListNode"></div>
      </div>

      <div class="always-use-proxy" data-dojo-attach-point="alwaysUseProxy"></div>
      <div class="attribute-content" data-dojo-attach-point="proxyUrlSection" >
        <input type="text" placeholder="${nls.proxyUrl}" data-dojo-attach-point="proxyUrlNode" />
      </div>
    </div>
  </div>
</div>
