<div class="widget-setting-page">
  <div class="section common-setting" data-dojo-attach-point="commonSettingNode">
    <div class="basic">
      <div class="icon">
        <img class="real-icon"  data-dojo-attach-point="iconNode">
      </div>
      <div class="right">
        <input data-dojo-attach-point="labelNode" class="jimu-input">
        <div class="right-foot" data-dojo-attach-point="rightFooterNode">
          <div class="image-container">
            <div data-dojo-attach-point="imageChooser"></div>
            <span nowrap class="change-icon" data-dojo-attach-point="changeNode">${nls.changeIcon}</span>
          </div>          
        </div>
      </div>
    </div>
    <div class="layout">
    </div>
  </div>
  <div class="section widget-setting" data-dojo-attach-point="widgetSettingNode"></div>
</div>